
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Barlow+Semi+Condensed:wght@200&family=Montserrat&family=Oswald&family=Roboto&display=swap');


:root {
  --primary: #E6E6E6;
}

.App {
  text-align: center;
}

#enterbg {
  background: url("https://morgantrotter.herokuapp.com/assets/images/enterbg.png") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: left;
}

html, body {
    color: var(--primary);
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

.container {
  padding: 0;
}

.description {
  background-color: rgba(0, 0, 0, 0.5);
  display: table-cell;
}

#descriptionRow {
  display: table-row;
}

#descriptionContainer {
  padding-top: 80px;
  padding-bottom: 80px;
  display: table;
  table-layout: fixed;
}

.button {
  color: var(--primary);
  opacity: 0;
  animation-name: appear;
  animation-duration: 3s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

.button:hover {
  color: #280202;
  background-color: var(--primary);
}

.button:active {
  animation-name: appear;
  animation-duration: 3s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

@keyframes appear {
  from{opacity: 0;}
  to{opacity: 1;}
}

#hello {
  color: var(--primary);
  text-align: left;
  padding-top: 15vh;
  padding-left: 20px;
  vertical-align: top;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 96pt;
  font-weight: bolder;
  display: block;
  vertical-align: top;
}

h4 {
  font-family: 'Abel', sans-serif;
  letter-spacing: 2px;
  font-size: 24pt;
  margin-left: 10px;
}

p, li {
  font-family: 'Abel', sans-serif;
}

#ssmsvg {
  background:url("https://morgantrotter.herokuapp.com/assets/images/ssmgrab.png");
  background-size:cover;
  display:block;
}

#threesvg {
  background:url("https://morgantrotter.herokuapp.com/assets/images/githubGrab.png");
  background-size:cover;
  display:block;
}

#ccsvg {
  background:url("https://morgantrotter.herokuapp.com/assets/images/ccgrab.png");
  background-size:cover;
  display:block;
}

#foursvg {
  background:url("https://morgantrotter.herokuapp.com/assets/images/linkedingrab.png");
  background-size:cover;
  display:block;
}

#fivesvg {
  background:url("https://morgantrotter.herokuapp.com/assets/images/resumeGrab.png");
  background-size:cover;
  display:block;
}

#Evsvg {
  background:url("https://morgantrotter.herokuapp.com/assets/images/evgrab.png");
  background-size:cover;
  display:block;
}

.ccText, .ssmText, .threeText, .fourText, .fiveText, .evText {
  font-size:47px;
  font-weight:900;
}

#ssmRect, #ccRect, #threeRect, #fourRect, #fiveRect, #evRect {
  font-family: 'Montserrat', sans-serif;
  transition: opacity 1s ease-out;
  opacity: 1;
}

#ssmsvg:hover #ssmRect {
  transition:opacity 0.8s;
  opacity: 0;
}

#ccsvg:hover #ccRect {
  transition:opacity 0.8s;
  opacity: 0;
}

#threesvg:hover #threeRect {
  transition:opacity .6s;
  opacity: 0;
}

#foursvg:hover #fourRect {
  transition:opacity .6s;
  opacity: 0;
}

#fivesvg:hover #fiveRect {
  transition: opacity .6s;
  opacity: 0;
}

#Evsvg:hover #evRect {
  transition: opacity .6s;
  opacity: 0;
}

.buttonlink {
  padding: 0;
  margin: 0;
  border: none;
}

#ccButton, #EvButton, #fourButton {
  float: right;
}

#ssmButton, #fiveButton, #threeButton {
  float: left;
}

.buttonlink:focus {
  outline: thin dotted; 
}

#linkSection, .footer {
  background-color: #E6E6E6;
  width: 100vw;
  margin: 0;
  padding-bottom: 40px;
  padding-top: 40px;
  float: right;
}

h3 {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 25pt;
}

#left, #right {
  padding: 0;
}

@media only screen and (max-width: 700px) {
  #ssmButton, #ccButton, #threeButton, #fourButton, #fiveButton, #EvButton {
    float: none;
  }

  .description {
    display: inline-block;
  }

  #descriptionRow {
    display: inline-block;
  }

  #descriptionContainer {
    display: inline-block;
    table-layout: none;
  }
}

@media only screen and (max-width: 400px) {
  #mask, #maskTwo, #maskEv, #maskThree, #maskFour, #maskFive {
    width: 100vw;
  }

  #ssmRect, #ccRect, #evRect, #threeRect, #fourRect, #fiveRect {
    width: 97vw;
  }

  #ssmsvg, #ccsvg, #Evsvg, #threesvg, #foursvg, #fivesvg {
    width: 100vw;
  }

  .ssmText, .ccText, .evText, .threeText, .fourText, .fiveText {
    font-size: 43px;
  }
}

@media only screen and (min-width: 700px) {
  #leftDescription {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  #rightDescription {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}

img {
  padding-top: 20px;
  height: 100px;
  object-fit: contain;
}

#designIcon {
  height: 70px;
}

#designHeader {
  margin-top: 35px;
}

h5, #footerPhone {
  color: #333333;
  font-weight: bold;
}

h5 {
  font-family: 'Barlow Semi Condensed', sans-serif;
}

.footer {
  padding-top: 100px;
}