:root {
  --primary: #E6E6E6;
}

.App {
  text-align: center;
}

#enterbg {
  background: url("http://localhost:3000/assets/images/enterbg.png") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: left;
}

html, body {
    color: var(--primary);
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

.container {
  padding: 0;
}

.description {
  background-color: rgba(0, 0, 0, 0.5);
  display: table-cell;
}

#descriptionRow {
  display: table-row;
}

#descriptionContainer {
  padding-top: 80px;
  padding-bottom: 80px;
  display: table;
  table-layout: fixed;
}

.button {
  color: var(--primary);
  font-family: 'Roboto', sans-serif;
  opacity: 0;
  animation-name: appear;
  animation-duration: 3s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

.button:hover {
  color: #280202;
  background-color: var(--primary);
}

.button:active {
  animation-name: appear;
  animation-duration: 3s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

@keyframes appear {
  from{opacity: 0;}
  to{opacity: 1;}
}

#hello {
  color: var(--primary);
  text-align: left;
  padding-top: 15vh;
  padding-left: 20px;
  vertical-align: top;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 96pt;
  font-weight: bolder;
  display: block;
  vertical-align: top;
}

h4 {
  font-family: 'Abel', sans-serif;
  letter-spacing: 2px;
  font-size: 24pt;
  margin-left: 10px;
}

p, li {
  font-family: 'Abel', sans-serif;
}

#ssmsvg, #threesvg {
  background:url("http://localhost:3000/assets/images/ssmgrab.png");
  background-size:cover;
  display:block;
}

#ccsvg, #foursvg {
  background:url("http://localhost:3000/assets/images/ccgrab.png");
  background-size:cover;
  display:block;
}

.ccText, .ssmText, .threeText, .fourText {
  font-size:47px;
  font-weight:900;
  font-family: 'Montserrat', sans-serif;
}

#ssmRect, #ccRect, #threeRect, #fourRect {
  transition:opacity 1s ease-out;
  opacity: 1;
}

#ssmsvg:hover #ssmRect {
  transition:opacity 0.8s;
  opacity: 0;
}

#ccsvg:hover #ccRect {
  transition:opacity 0.8s;
  opacity: 0;
}

#ssmsvg:hover .ssmText {
  transition:font-size 0.9s ease-in;
  font-size: 2000pt;
}

#ccsvg:hover .ccText {
  transition:font-size 0.9s ease-in;
  font-size: 2000pt;
}

#threesvg:hover #threeRect {
  transition:opacity .6s;
  opacity: 0;
}

#foursvg:hover #fourRect {
  transition:opacity .6s;
  opacity: 0;
}

#threesvg:hover .threeText {
  transition:font-size .6s ease-in;
  font-size: 2000pt;
}

#foursvg:hover .fourText {
  transition:font-size .6s ease-in;
  font-size: 2000pt;
}

.buttonlink {
  padding: 0;
  margin: 0;
  border: none;
}

#ssmButton, #threeButton {
  float: right;
}

#ccButton, #fourButton {
  float: left;
}

.buttonlink:focus {
  outline: thin dotted; 
}

#linkSection {
  background-color: #E6E6E6;
  width: 100vw;
  margin: 0;
  padding-bottom: 40px;
  padding-top: 40px;
  float: right;
}

h3 {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 25pt;
}

#left, #right {
  padding: 0;
}

@media only screen and (max-width: 700px) {
  #ssmButton, #ccButton, #threeButton, #fourButton {
    float: none;
  }

  .description {
    display: inline-block;
  }

  #descriptionRow {
    display: inline-block;
  }

  #descriptionContainer {
    display: inline-block;
    table-layout: none;
  }
}

@media only screen and (max-width: 400px) {
  #mask, #maskTwo {
    width: 100vw;
  }

  #ssmRect, #ccRect {
    width: 97vw;
  }

  #ssmsvg, #ccsvg {
    width: 100vw;
  }

  .ssmText, .ccText {
    font-size: 43px;
  }
}